* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  font: 14px 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
}

.inputs, .plan {
  padding: 10px 20px;
}
.inputs {
  padding-top: 20px;
}
.button {
  margin: 0 20px;
  padding: 10px;
  
  border: none;
  border-radius: 5px;
  background-color: #C861D3;
  color: #ffffff;

  transition: background-color .15s ease-in-out;
}
.button:hover {
  cursor: pointer;
  background-color: #9702A7;
}

.inputs {
  display: flex;
}
.inputs-col {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 130px;
}
.inputs-col-wide {
  width: 220px;
}
.text-input {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}